{% extends 'base.html' %}
{% block content %}
 
    <h3>Room: {{room}}</h3>

    <div class="msg-box" id="msg-box">

        <div class="msg" id="msg"></div>
    </div>
 

    <div class="join">
    <input type="text" rows ="3" placeholder="Enter Text ..." name="text"  id ="text"/>
    <input type="submit" id = 'send' name ='send'   onClick="sendMessage()" value="Enter">

 </div>
 

 <script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("msg");

    const createMessage = (name, msg) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${new Date().toLocaleString()}
            </span>
        </div>`;
        messages.innerHTML += content;
    }

    socketio.on('message', (data) => {
        createMessage(data.name, data.message);
    });

    const sendMessage = () => {
        const textInput = document.getElementById('text');
        const message = textInput.value.trim();
        if (message === '') return;

        socketio.emit("message", { data: message });
        textInput.value = '';  // Clear input field
    }

   
</script>

{%for msg in messages%}
<script type="text/javascript">
createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{%endfor%}

{% endblock %}